<%-include("header.ejs")%>
  <div class="content-wrapper">
    <div class="container-fluid">

      <div class="card mb-3">
        <div class="card-header">

          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                <% if(data.length) { %>

                  <thead class="bg-primary text-white">
                    <tr>
                      <th>SL No.</th>
                      <th>Email</th>
                      <th>Category</th>
                      <th>Type</th>
                      <th>Quantity</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% for (i in data) { %>
                      <tr>
                        <th>
                          <%=i%>
                        </th>
                        <th><a data-toggle="modal" href="#" data-target="#runModal<%=i%>">
                            <%=data[i].email%>
                          </a></th>
                        <!-- Modal -->
                        <div class="modal fade" id="runModal<%=i%>" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">User details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Name: <%=data[i].userDetails.Item.name.S%><br>
                                  Gender: <%=data[i].userDetails.Item.gender.S%><br>
                                    DOB: <%=data[i].userDetails.Item.dob.S%><br>
                                      Ph no: <%=data[i].userDetails.Item.phone.N%><br>
                                        Address: <%=data[i].userDetails.Item.address.S%><br>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <th>
                          <%=data[i].category%>
                        </th>
                        <th>
                          <%=data[i].type%>
                        </th>
                        <th>
                          <%=data[i].roomWant%>
                        </th>
                        <th>
                          <%=data[i].date%>
                        </th>
                        <th>
                          <form action="/admin/changestatus" method="POST">
                            <input type="hidden" name="mail" value="<%=data[i].email%>">
                            <input type="hidden" name="cat" value="<%=data[i].category%>">
                            <input type="hidden" name="type" value="<%=data[i].type%>">
                            <input type="hidden" name="want" value="<%=data[i].roomWant%>">
                            <input type="hidden" name="date" value="<%=data[i].date%>">
                            <input type="hidden" name="name" value="<%=data[i].userDetails.Item.name.S%>">
                            <input type="hidden" name="dob" value="<%=data[i].userDetails.Item.dob.S%>">
                            <input type="hidden" name="ph" value="<%=data[i].userDetails.Item.phone.N%>">
                            <input type="hidden" name="address" value="<%=data[i].userDetails.Item.address.S%>">
                            <input type="hidden" name="cost" value="<%=data[i].cost%>">
                            <input type="submit" class="btn btn-success btn-ml" name="click" value="Approve">
                            <input type="submit" class="btn btn-danger btn-ml" name="click" value="Cancel">
                          </form>
                        </th>
                      </tr>
                      <% } %>

                  </tbody>
              </table>
              <% } else { %>

                <h3 style="color: #ff304f;" class="text-center">No Data Found</h3>
                <thead class="bg-primary text-white">
                  <tr>
                    <th>SL No.</th>
                    <th>Email</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Date</th>
                    <th>Status</th>
                  </tr>
                </thead>

                <tbody>

                </tbody>
                </table>

                <% } %>

            </div>
            

          </div>

        </div>

      </div>
    </div>
  </div>
  <%-include("footer.ejs")%>