<%-include("header.ejs")%>
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 text-center middleposition">
          <form action="/admin/updateData" method="POST">
            <p>Category</p>
            <input type="text" class="form-control" name="cat" value="<%=data.name%>" readonly>
            <p>Room Type</p>
            <input type="text" class="form-control" name="type" value="<%=data.type%>">
            <p>Per Night Cost</p>
            <input type="number" class="form-control" name="cost" value="<%=data.cost%>">
            <p>Room Available</p>
            <input type="number" class="form-control" name="avlvl" value="<%=data.available%>">
            <p>Add Some Description</p>
            <input type="text" class="form-control" name="des" value="<%=data.dec%>">

            <input type="submit" class="btn btn-lg btn-success mt-3" value="Update">
          </form>
        </div>
      </div>

    </div>
  </div>
  <%-include("footer.ejs")%>