<%-include("header.ejs")%>
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class= "col-lg-4 text-center middleposition"> 
          <form action="/admin/updateData" method="POST">
            <p>CATEGORY</p>
            <input type="text" class="form-control" name="cat" value="<%=data.name%>" readonly>
            <p>ROOM TYPE</p>
            <input type="text" class="form-control" name="type" value="<%=data.type%>">
            <p>PER NIGHT COST</p>
            <input type="number" class="form-control" name="cost" value="<%=data.cost%>">
            <p>ROOM AVAILABLE</p>
            <input type="number" class="form-control" name="avlvl" value="<%=data.available%>">
            <p>ADD DESCRIPTION</p>
            <input type="text" class="form-control" name="des" value="<%=data.dec%>">

            <input type="submit" class="btn btn-secondary" value="Update">
          </form>
        </div>
      </div>

    </div>
  </div>
  <%-include("footer.ejs")%>