<%-include("header.ejs")%>
  <div class="content-wrapper">
    <div class="container-fluid">

      <div class="card mb-3">
        <div class="card-header">

          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                <% if(data.length) { %>
                  <thead class="p-3 mb-2 bg-secondary text-white">
                  <!-- "bg-primary text-white"> -->
                    <tr>
                      <!-- <th>No.</th> -->
                      <th>CATEGORY</th>
                      <th>ROOM TYPE</th>
                      <th>PER NIGHT COST</th>
                      <th>ROOMS AVAILABLE</th>
                      <th>UPDATE</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% for (i in data) { %>
                      <tr>
                        <!-- <th>
                          <%=i%>
                        </th> -->
                        <th>
                          <%=data[i].name%>
                        </th>
                        <th>
                          <%=data[i].type%>
                        </th>
                        <th>
                          <%=data[i].cost%>
                        </th>
                        <th>
                          <%=data[i].available%>
                        </th>
                        <th>
                          <form action="/admin/update" method="POST">
                            <input type="hidden" name="cat" value="<%=data[i].name%>">
                            <input type="hidden" name="type" value="<%=data[i].type%>">
                            <input type="hidden" name="cost" value="<%=data[i].cost%>">
                            <input type="hidden" name="available" value="<%=data[i].available%>">
                            <input type="submit" class="btn btn-secondary" name="click" value="Update">

                          </form>
                        </th>
                      </tr>
                      <% } %>
                  </tbody>
              </table>
              <% } else { %>
                <h3 style="color: #a4626c;" class="text-center">Opps!! No Data Found</h3><br>
                <% } %>
            </div>
          </div>

        </div>
      </div>
<%-include("footer.ejs")%>